<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CareLab", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("CreditParty", "Index", "CreditParty")</li>
                    <li>@Html.ActionLink("Referred", "Index", "Referred")</li>
                    <li>@Html.ActionLink("Requestor", "Index", "Requestor")</li>
                    <li>@Html.ActionLink("TablesView", "Index", "TablesView")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="width:100%">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/DataTables/jquery.dataTables.js"></script>
    <script src="~/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
