@model IEnumerable<CareLab.Models.Referred>

@{
    Layout = null;
}

<body>
    <h4>Referred Lists</h4>
    <hr />
    <div class="table-responsive">
        <table class="table" id="dataTableData">
            <thead>
                <tr class="bg-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.UserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Designation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Office)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NMCno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Entrydate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctorname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospitalname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Specilist)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Office)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NMCno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entrydate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctorname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hospitalname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specilist)
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="ajax-modal" data-target="#edit" data-url="@Url.Action($"Edit/{item.UserID}")"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="ajax-modal" data-target="#delete" data-url="@Url.Action($"Delete/{item.UserID}")"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

